

<div *ngrxLet="authService.loginResponse; let loginResponse">
    <p>status: {{ loginResponse }}</p>
    <button [disabled]="loginResponse" (click)="login()">log in</button>
    <button [disabled]="!loginResponse" (click)="authService.logOut()">log out</button>
</div>

<form [formGroup]="loginForm">
    <label for="userName">Name</label>
    <input id="userName" name="userName" formControlName="userName"/>

    <label for="password">Password</label>
    <input id="password" name="password" formControlName="password"/>
</form>