<div
    class="PokemonDetails_MainContainer"
    *ngrxLet="{ pokemonDetails: pokemonDetails$} as vm">
    <gt-motive-app-pokemon-details-header></gt-motive-app-pokemon-details-header>
    <mat-card>
      <mat-card-content>
        <div class="PokemonDetails_HeaderContainer">
          <h2>{{vm.pokemonDetails?.name | titlecase}}</h2>
          <h2 id="pokemonNumber" 
            appPokemonId
            [pokemonId]="vm.pokemonDetails?.id">
              N* {{vm.pokemonDetails?.id}}
          </h2>
          
        </div>
        <div class="PokemonDetails_BodyContainer">
          <div class="PokemonDetails_ImageContainer">
            <img 
            mat-card-image 
            src={{vm.pokemonDetails?.sprites?.front_default}} 
            alt="{{'pokemon.details.content.photoAlt' | translate: { pokemonName: vm.pokemonDetails?.name } }}">

            <gt-motive-app-pokemon-details-stats [pokemon]="vm.pokemonDetails"></gt-motive-app-pokemon-details-stats>
          </div>
          <div class="PokemonDetails_InfoContainer">
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
            </p>

            <gt-motive-app-pokemon-details-info [pokemon]="vm.pokemonDetails"></gt-motive-app-pokemon-details-info>

            <div class="PokemonDetails_TypeContainer">
              <h3>{{'pokemon.details.content.headers.types' | translate}}:</h3>
              <div class="PokemonDetails_Types">
                <gt-motive-app-pokemon-type-pill
                  *ngFor="let type of vm.pokemonDetails?.types"
                  [pokemonType]="type.type" 
              ></gt-motive-app-pokemon-type-pill>
              </div>
            </div>

            <div class="PokemonDetails_MovesContainer">
              <h3>{{'pokemon.details.content.headers.movements' | translate}}:</h3>
              <div class="PokemonDetails_Moves">
                <button *ngFor="let type of vm.pokemonDetails?.moves" mat-raised-button color="primary">{{type.move.name}}</button>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

</div>