:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
} 


.PokemonDetails_MainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    gap: 20px;
    mat-card {
        height: 100%;
        width: 100%;

        mat-card-content {
            display: flex;
            flex-direction: column;
            height: 100%;
            .PokemonDetails_HeaderContainer {
                display: flex;
                justify-content: center;
                text-align: center;

                gap: 16px;

                color: #212121;
                font-size: 225%;
                width: 100%;
                word-break: break-word;
                margin-top: 0!important;


                h2 {
                    margin-top: 0!important;

                }
            }
            .PokemonDetails_BodyContainer {
                display: flex;
                flex-direction: row;
                justify-content: center;

                gap: 20px;

                .PokemonDetails_ImageContainer,
                .PokemonDetails_InfoContainer {
                    width: 100%;
                }

                .PokemonDetails_ImageContainer {
                    display: flex;
                    flex-direction: column;

                    gap: 20px;
                    
                    img {
                        width: 100%;
                        background-color: #F2F2F2 ;
                        border-radius: 5px;
                    }
                }

                .PokemonDetails_StatsContainer {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    background-color: #a4a4a4;
                    border-radius: 5px;

                    .PokemonDetails_StatsHeader {
                        padding: 10px;

                        h4 { margin: 0; }
                    }

                    .PokemonDetails_StatsBody {  
                        display: flex;
                        flex-direction: row;
                        gap: 5px;
                        padding: 5px;

                        .PokemonDetails_Stat {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            position: relative;

                            background-color: #ffff;
                            border-radius: 5px;
                            height: 100px;
                            width: 100%;
                            overflow: hidden;
                            border: 1px solid;

                            label { 
                                position: absolute;   
                                transform: rotate(-90deg);

                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 100%;
                                width: 100%;
                            }
                            area { 
                                width: 100%; 
                                background-color: #30a7d7;
                            }
                        }
                    }
                }
            }
        }
    }

}

