<div
    class="PokemonDetails_MainContainer"
    *ngrxLet="{ pokemonDetails: pokemonDetails$} as vm">
    <gt-motive-app-pokemon-details-header></gt-motive-app-pokemon-details-header>
    <mat-card>
      <mat-card-content>
        <div class="PokemonDetails_HeaderContainer">
          <h2>{{vm.pokemonDetails?.name | titlecase}}</h2>
          <h2 id="pokemonNumber" 
            appPokemonId
            [pokemonId]="vm.pokemonDetails?.id">
              N* {{vm.pokemonDetails?.id}}
          </h2>
          
        </div>
        <div class="PokemonDetails_BodyContainer">
          <div class="PokemonDetails_ImageContainer">
            <img 
            mat-card-image 
            src={{vm.pokemonDetails?.sprites?.front_default}} 
            alt="Photo of a Shiba Inu">

            <div class="PokemonDetails_StatsContainer">
              <div class="PokemonDetails_StatsHeader">
                <h4>Puntos de base</h4>
              </div>
              
              <div class="PokemonDetails_StatsBody">
                <div class="PokemonDetails_Stat" *ngFor="let stat of vm.pokemonDetails?.stats">
                  <area [style.height.px]="stat.base_stat">
                </div>
              </div>
            </div>
          </div>
          <div class="PokemonDetails_InfoContainer"></div>
        </div>
      </mat-card-content>
    </mat-card>

</div>