<div
    class="PokemonList_MainContainer"
    *ngrxLet="{ isBlockByRequest: isBlockByRequest$, pokemonList: pokemonList$, pokemonSelected: pokemonSelected$, pokemonQuery: pokemonQuery$ } as vm">

    <mat-card>
      <mat-card-content>
        <div class="PokemonList_HeaderContainer">
          <p>Pokedex</p>
        </div>
        <gt-motive-app-pokemon-list-filter></gt-motive-app-pokemon-list-filter>
        <div class="PokemonList_ListContainer">
          <div class="PokemonList_Cards">
            <div class="PokemonList_Card" 
              *ngFor="let pokemon of vm.pokemonList"
              (click)="openPokemonDetails(pokemon)">
              <gt-motive-app-pokemon-card [pokemon]="pokemon"></gt-motive-app-pokemon-card>
            </div>
          </div>
          <area 
            appIntersectionObserver
            (isIntersecting)="isIntersecting($event)"
            [offset]="50"
            [active]="vm.pokemonList.length > 0 && vm.pokemonQuery.currentPage !== vm.pokemonQuery.totalPages" />
        </div>
      </mat-card-content>
    </mat-card>

</div>