:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
} 


.PokemonList_MainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    gap: 20px;
    
    mat-card {
        height: 100%;
        width: 100%;

        mat-card-content {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 0;
            .PokemonList_HeaderContainer {
                padding: 0px 20px;

                p {
                    color: #919191;
                    cursor: default;
                    font-size: 187.5%;
                }
            }
            .PokemonList_ListContainer {
                display: flex;
                height: 100%;
                flex-direction: column;
                align-items: center;
                overflow: auto;
                position: relative;

                .PokemonList_Cards {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: flex-start;
                    justify-content: space-around;
                    padding: 60px 20px;
                    background-color: #ffff;
                    height: 100%;
                    gap: 20px;
                    width: 80%;
                }
            }
        }
    }

}

