.PokemonFilter_MainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #616161;

    .PokemonFilter_NameFilterContainer {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: center;
        background: #313131;
        min-height: 200px;
        width: 100%;

        mat-form-field {
            .mat-mdc-form-field-subscript-wrapper {
                display: none;
            }
        }

        > button {
            border-radius: 5px;
            &:disabled { 
                border: 1px solid white;
                mat-icon {
                    color: white;    
                }
            }
        }

        .PokemonFilter_NameFilterContainer_Banner {
            background-color: #4dad5b;
            border-radius: 5px;
            width: 200px;
            padding: 5px 10px;
            margin-left: 25px;

            p {
                font-size: 20px;
                margin: 0;
                color: #ffff
            }
        }
        
    }
    .PokemonFilter_TypeFilterContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 80%;
        justify-content: flex-start;
        overflow: hidden;
        
        .PokemonFilter_TypeFilter {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px;

            .PokemonFilter_TypeFilterHeader {
                color: #ffff
            }

            .PokemonFilter_TypeFilterContent {
                display: flex;
                flex-direction: row;
                gap: 10px;
                width: 80%;
                flex-wrap: wrap;
                justify-content: center;

                .PokemonFilter_TypeFilters {
                    cursor: pointer;
                }
            }
        }
    }
    .PokemonFilter_TypeFilterActionsContainer {
        position: relative;
        min-height: 25px;
    
        .PokemonFilter_TypeFiltersActive {
            display: flex;
            padding: 0.75em 0.675em;
            border-radius: 10px;
            background-color: #a4a4a4;
            flex-direction: row;
            margin: 20px 0px;
            align-items: center;
            gap: 10px;

            .PokemonFilter_TypeFiltersCurrent {
                display: flex;
                flex-direction: row;
                cursor: pointer;
            }
        }
        button {
            position: absolute;
            bottom: -20px;
            right: calc(50% - 20px);
            z-index: 3;
            background-color: #E3350D;
        }
    
    }
}