:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
} 


.PokemonDetailsInfo_MainContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    background-color: #30a7d7;
    border-radius: 5px;

    .PokemonDetailsInfo_SectiosContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    
        padding: 20px;
        width: calc((100% - 40px) /2);
        gap: 15px;

        .PokemonDetailsInfo_Section {
            display: flex;
            flex-direction: column;
            width: 50%;
            gap: 5px;
            
            h4 {
                margin: 0;

                color: #fff;
                font-size: 100%;
            }
            p {
                margin: 0;

                color: #212121;
                font-size: 125%;
            }
        }
    }

}

