<div class="PokemonDetailsInfo_MainContainer">
    <div class="PokemonDetailsInfo_SectiosContainer">
        <div class="PokemonDetailsInfo_Section">
            <h4>Altura</h4>
            <p>{{pokemon?.height || '-'}}m</p>
        </div>
        <div class="PokemonDetailsInfo_Section">
            <h4>Peso</h4>
            <p>{{pokemon?.weight}}kg</p>
        </div>
        <div class="PokemonDetailsInfo_Section">
            <h4>Sex</h4>
            <div>
                <mat-icon aria-hidden="false" aria-label="Female Icon" fontIcon="male"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Male icon" fontIcon="female"></mat-icon>
            </div>
        </div>
    </div>

    <div class="PokemonDetailsInfo_SectiosContainer">
        <div class="PokemonDetailsInfo_Section">
            <h4>Categoría</h4>
            <p>-</p>
        </div>
        <div class="PokemonDetailsInfo_Section">
            <h4>Habilidad</h4>
            <div *ngFor="let abiliti of pokemon?.abilities">
                <p *ngIf="!abiliti.is_hidden">{{abiliti.ability.name}}</p>
            </div>
        </div>
    </div>
</div>