<div class="MenuNavBar_MainContainer">
    <div class="MenuNavBar_ContentContainer">
        <div class="MenuNavBar_CenterContainer">
            <button mat-flat-button color="warn" [routerLink]="appRoutes.Home">{{ 'shell.layout.menuNav.home' | translate }}</button>
            <button mat-flat-button color="primary" [routerLink]="appRoutes.PokemonList">{{ 'shell.layout.menuNav.pokedex' | translate }}</button>
            <button mat-flat-button color="primary" disabled>{{ 'shell.layout.menuNav.news' | translate }}</button>
        </div>
    </div>
</div>