@use "./../../../../sizes.scss" as sizes;

:host {
    width: 100%;
}


::ng-deep .mat-select-panel {
    background: none !important;
}

::ng-deep .mat-mdc-select-arrow {
    display: none !important;
}

::ng-deep .mat-mdc-select-panel {
    background: none !important;
    box-shadow: none !important;
}

::ng-deep .cdk-overlay-pane {
    width: 100px !important;
}

.ProfileNavBar_MainContainer {
    top:100px;
    position: absolute;

    .ProfileNavBar_ContentContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        padding-left: 10px;
    
        height: 100px;
        width: 50px;

        position: fixed;

        z-index: 3;

        mat-select {
            background-color: transparent !important;
            mat-option {
                border-radius: 10px;
            }

            svg {
                display: none;
            }
        }
    }
}
